
.logo
{
	width: 50px;
}
.connexion-form
{
	width: 450px;
	padding:10px;
}
.navbar
{
	margin-bottom: 0px;
}
.carousel-caption
{
	top:20px;
	bottom:auto;
}
.group.list-group-image
{
	width: 400px;
	height: 250px;

}
.p1
{
	text-align: left;

}
.text-align
{
	text-align: center;
	color: red;
}
.taille
{
	width: 350px;
	border: 2px solid black;
	text-align: justify;
	padding: 10px;
	height: 250px;
}

.box
{
	border: 2px solid black;
	text-align: justify;
	padding: 10px;

}		

.main-container 
{
	background: #f1f1f1;
}

.second-section 
{
	margin-top: 20px;
	padding-top: 20px;
}
.edit
{
	margin-top: 20px;
	padding-top: 20px;
}
.btn-default
{
	background-color: red;
	color: white;
}
.main-row
{
	border-radius: 2px solid black;
}